.page404 {
  display: block;
  background-color: $black;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 187px;
}

//.page404-text {
//  max-width: 444px;
//  margin-left: auto;
//  margin-right: auto;
//}

.page404-title{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 160px;
  line-height: 1.3;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text--white-404{
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 60px;
  font-size: 24px;
}

.btn--main-page {
  display: flex;
  justify-content: center;
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  border: none;
  align-items: center;
  background-image: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  background-size: 120%;
  background-position: center;
  height: 60px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .35s ease;

  @keyframes hover-animation {
    0% {
      background-position: center;
    }
    50% {
      background-position: left;
    }
    75% {
      background-position: right;
    }
  }

  &:hover {
    animation: hover-animation 3.5s linear infinite;
    box-shadow: 0 0 10px rgba( $white, .3);
  }
}

.btn--main-page-text {
  font-size: 16px;
  color: $white;
}