.form__label{
  font-weight: bold;
}

.btn--big-submit {
  width: 100%;
  margin-top: 70px;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      background: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
      transition: background-color 0.5s;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.8s;
    }
  }
}

