.burger {
  position: relative;
  color: $white;
  background: transparent;
  border: none;
  font-weight: bold;
  padding: 0 43px 0 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  display: none;

  &-mobile {
    display: unset;
  }

  &:hover {
    color: #E0E0E0;
  }

  @media screen and (min-width: $max-sm + 1px) {
    display: unset;
  }

}

.burger-line {
  position: absolute;
  width: 32px;
  height: 1px;
  right: 0;
  background: $white;
  transition: all .5s ease;

  &:first-child {
    top: 0;

    body.is-menu-open & {
      top: 0;
      transform: rotate(45deg);
    }
  }

  @media screen and (min-width: $max-sm + 1px) {
    &:first-child {
      top: 5px;

      body.is-menu-open & {
        top: 9px;
        transform: rotate(45deg);
      }
    }

  }

  &:last-child {
    bottom: 6px;

    body.is-menu-open & {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  @media screen and (min-width: $max-sm + 1px) {
    &:last-child {
      bottom: 5px;

      body.is-menu-open & {
        bottom: 9px;
        transform: rotate(-45deg);
      }
    }

  }

}