.clients {
  justify-content: center;

  @media screen and (min-width: 630px) {
    justify-content: flex-start;
  }
}

.clients-logo {
  justify-content: center;
  width: 140px;
  height: 60px;
  padding: 15px 30px;
  border-right: 1px solid #BDBDBD;

  &:nth-child(2n) {
    border-right: none;
  }

  @media screen and (min-width: 420px) {
    width: 210px;
    height: 80px;
    padding: 20px 50px;
  }

  @media screen and (min-width: 630px) {
    width: 210px;
    height: 80px;
    &:nth-child(2n) {
      border-right: 1px solid #BDBDBD;
    }
    &:nth-child(3n) {
      border-right: none;
    }
  }

  @media screen and (min-width: 992px) {
    width: 230px;
    height: 110px;
    &:nth-child(3n) {
      border-right: 1px solid #BDBDBD;
    }

    &:nth-child(4n) {
      border-right: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(4n) {
      border-right: 1px solid #BDBDBD;
    }

    &:nth-child(5n) {
      border-right: none;
    }
  }
}

img.clients-logo {
  object-fit: contain;
}


