.clients {
  // //margin-right: -2px;
  // flex-direction: row;
  // position: relative;
  //justify-content: flex-start;

  &:before {
    //content: "";
    // position: absolute;
    //  width: 4px;
    //  background-color: $white;
    // height: 100%;
  }
}

.clients-logo {

  width: 230px;
  height: 110px;
  padding: 20px 50px;
  border-right: 1px solid #BDBDBD;


  @media (min-width: 1200px) {
    &:nth-child(5n) {
      border-right: none;
    }

  }

  @media (max-width: 1199px) and (min-width: 992px) {

    &:nth-child(4n) {
      border-right: none;
    }
  }

  @media (max-width: 991px) and (min-width: 690px) {

    &:nth-child(3n) {
      border-right: none;
    }
  }

  @media (max-width: 689px) and (min-width: 460px) {


    &:nth-child(2n) {
      border-right: none;
    }

  }

  @media (max-width: 459px) and (min-width: 0px) {
    border-right: none;
  }
}


img.clients-logo {
  object-fit: contain;
}

.reviews {
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: -100px;
  background: linear-gradient(69.18deg, #00009A 20%, #EB3626 90%, #EB3423 100%);
  //height: 900px;
  padding-bottom: 120px;
}

.reviews-list-nav {
  width: 100%;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 1;
}

.title--review {
  padding: 127px 0 100px 135px;
}

.review-card {
  height: 476px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: $white;

  &-nav {
    transform: scale(0.5);
    height: 270px;
    overflow: hidden;
    filter: blur(12px);
  }
}


.review-client {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.review-client-photo {
  margin: 40px 0 0 20px;
  width: 60px;
  height: 60px;
}

.review-client-details {
  padding: 60px 0 8px 20px;
}

.review-client-company {
  font-weight: 100;
  padding-top: 8px;
  opacity: 0.5;
}

.review-text {
  font-size: 16px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 37px;
}

.reviews-list {
  position: relative;
  z-index: 2;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-list-nav {

  .slick-slide {

    .review-card {
      transition: opacity .85s ease;
    }

    &.slick-center {
      .review-card {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

.slick-slide {
  outline: none;
}


button.slick-prev.slick-arrow {
  position: absolute !important;
  top: 130px;
  left: calc(50% - 330px);
  background: none;
  border: none;
  z-index: 999;

  &:focus{
    outline: none;
  }
}

button.slick-next.slick-arrow {
  position: absolute !important;
  top: 130px;
  left: calc(50% + 285px);
  background: none;
  border: none;
  z-index: 999;

  &:focus{
    outline: none;
  }
}




