.title-colours-contacts {
  line-height: 34px;
  min-height: 68px;
  margin-bottom: 50px;
  padding: 0;
}

.title-colours-narrow {
  width: 70%;
}

.contacts-list {

  & .phone, .mail {
    padding-left: 50px;
    padding-bottom: 43px;
    position: relative;
  }

  & .mail:before, .phone:before {
    position: absolute;
    width: 26px;
    left: 0;
    top: -5px;
  }

  & .phone:before {
    content: url("../img/sprites/sprite.svg#phone-icon");
  }

  & .mail:before {
    content: url("../img/sprites/sprite.svg#mail-icon");
  }
}

.submit-small {
  width: 100%;
  outline: none;
  border: none;
  background: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  height: 60px;
  color: white;
  font-weight: bold;
}