.title-colours-contacts {
  line-height: 34px;
  min-height: 68px;
  margin-bottom: 30px;
  padding: 0;

  @media screen and (min-width: $max-md + 1px){
    margin-bottom: 50px;
  }
}

.title-colours-narrow {
  width: 100%;
  @media screen and (min-width: $max-md + 1px){
  width: 70%;
  }
}

.contacts-list {

  & .list-item {
    padding-left: 50px;
    padding-bottom: 43px;
    position: relative;
  }

  & .list-item:before {
    position: absolute;
    width: 26px;
    left: 0;
    top: -5px;
  }

  & a{
    color: $black;
  }

  & .phone:before {
    content: url("../img/sprites/sprite.svg#phone-icon-color");
  }

  & .mail:before {
    content: url("../img/sprites/sprite.svg#mail-icon-color");
  }

  & .fb:before {
    content: url("../img/sprites/sprite.svg#fb-icon-color");
  }

  & .insta:before {
    content: url("../img/sprites/sprite.svg#insta-icon-color");
  }
}

