.form--half-width {
  width: 100%;

  @media screen and (min-width: $max-md + 1px) {
    max-width: 50%;
  }
}

.form-group {
  width: 100%;

  &:first-of-type {
    padding-top: 30px;
  }

  @media screen and (min-width: $max-sm + 1px) {
    width: calc(50% - 15px);
    padding-top: 60px;
    &:first-of-type {
      padding-top: 60px;
    }
  }
}

.form-group-careers {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $max-sm + 1px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-group-send {
  width: 90%;
  border-radius: 0;
  @media screen and (min-width: $max-sm + 1px) {
    width: 370px;
  }
}

.form__input {
  display: flex;
  width: 100%;
  border: none;
  border-bottom: 1px solid $black;
  padding: 7px 0;
  margin-bottom: 45px;
  line-height: 28px;
  border-radius: 0;

  @media screen and (max-width: $max-xs) {
    margin-bottom: 35px;
  }

  &:focus {
    outline: 0;
  }
}

.form__submit {
  width: 100%;
  outline: none;
  border: none;
  background-image: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  background-size: 120%;
  background-position: center;
  height: 60px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .35s ease;
  border-radius: 0;

  @keyframes hover-animation {
    0% {
      background-position: center;
    }
    50% {
      background-position: left;
    }
    75% {
      background-position: right;
    }
  }

  &:hover {
    animation: hover-animation 3.5s linear infinite;
  }
}

.btn__submit-big {
  width: 100%;
  margin-top: 20px;
  border-radius: 0;

  &:hover {

    &:before {
      content: '';
      position: absolute;
      background: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
      transition: background-color 0.5s;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.8s;
    }

    &:focus {
      outline: 0;
    }

    &:hover .text-on-btn {
      color: $white;
    }
  }

  @media screen and (min-width: $max-sm + 1px) {
    margin-top: 50px;
    padding: 0;
  }
}

.btn--padding {
  padding-right: 13px;
  padding-left: 13px;

  @media screen and (min-width: $max-sm + 1px) {
    padding: 0;
  }
}

.form__submit-big {
  position: relative;
  width: 100%;
  height: 110px;
  cursor: pointer;
  background: -webkit-linear-gradient(69.18deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  -webkit-background-clip: text;
  border: none;
  z-index: 1;
  border-radius: 0;

  &[type=submit]:focus {
    outline: 0;
  }

  @media screen and (min-width: $max-sm + 1px) {
    height: 227px;
    -webkit-text-stroke: 4px transparent;
  }

  & .text-on-btn-big {
    padding-left: 0;
    padding-right: 2px;
  }
}

.form__submit-small {
  position: relative;
  height: 60px;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  cursor: pointer;
  border-radius: 0;

  &[type=submit]:focus {
    outline: 0;
  }

}

.attach-file {
  display: block;
  position: relative;
  width: fit-content;
  color: #828282;
  margin-top: 15px;
  margin-left: 30px;
  outline: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 18px;

  .file-selected + & {
    color: $black;
  }

  &:after {
    content: url("../img/sprites/sprite.svg#pin");
    position: absolute;
    width: 25px;
    top: -4px;
    left: -30px;
  }

  &__input {

    &[type="file"] {
      height: 0;
      overflow: hidden;
      width: 0;
    }
  }
}

.btn__send {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      background: linear-gradient(71.2deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
      transition: background-color 0.5s;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.8s;
    }

    transition: box-shadow .35s ease;

    @keyframes hover-animation {
      0% {
        background-position: center;
      }
      50% {
        background-position: left;
      }
      75% {
        background-position: right;
      }
    }

    &:hover {
      animation: hover-animation 3.5s linear infinite;
    }
  }

  &:hover .title-colours--small {
    color: $white;
    background: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $white;
  }
}

.form__send {
  outline: 0;
  border: none;
  z-index: 3;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0;

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}








