.quote-text {
  display: block;
  background: linear-gradient(66.64deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: 100%;
  padding: 50px 0 50px 50px;

  @media screen and (min-width: $max-sm + 1px) {
    padding: 175px 0 150px 150px;
  }

}

.title-vertical {
  @media screen and (min-width: $max-sm + 1px) {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding-left: 120px;
  }
}

.quote {

  @media screen and (min-width: $max-sm + 1px) {
    display: flex;
    max-width: 95%;
    margin-left: auto;
  }
}

.info-block-section {
  position: relative;
}

.title-info-block {
  position: absolute;
  left: 400px;
  top: 250px;


}

.info-block {
  margin-top: 160px;
  align-items: center;
  position: relative;
  padding-left: 43px;
  height: 450px;
  justify-content: flex-end;
  width: 95%;
  margin-right: 5%;
  margin-bottom: 100px;


  &::-webkit-scrollbar {
    margin-right: 300px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(99.32deg, #00009A 47.45%, #EB3423 63.6%);;
    outline: 1px solid slategrey;
  }


  &--inside {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;


  }

  @media screen and (min-width: $max-sm + 1px) {
    padding-left: 43px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    float: left;


  }
}


.text--info-block {
  width: 500px !important;
  height: 450px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  position: relative;
  padding-top: 30px;
  padding-left: 130px;


  &:before {
    content: url("../img/sprites/sprite.svg#1");
    position: absolute;
    width: 200px;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &--first:before {
    content: url("../img/sprites/sprite.svg#1");
  }

  &--second {
    margin-top: 30px;


    &:before {
      content: url("../img/sprites/sprite.svg#2");
    }
  }

  &--third:before {
    content: url("../img/sprites/sprite.svg#3");
  }

  @media screen and (min-width: $max-md + 1px) {
    //margin-right: 100px;

  }
}


.info-block-scroll{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  right: 3%;
  top: 160px;
  height: 450px;
  justify-content: space-around;


  & .info-block-scroll--number{
    color: #CCCCCC;
    font-size: 24px;
    pointer-events: none;

    &.transparent{
      color: white;
    }

    &.is-active{
      color: $black;
    }
  }
}


.paragraph {
  padding-bottom: 30px;
}


