.quote-text {
  display: block;
  background: linear-gradient(66.64deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: 100%;
  padding: 50px 0 50px 50px;

  @media screen and (min-width: $max-sm + 1px){
    padding: 175px 0 150px 150px;
  }

}

.title-vertical {
  @media screen and (min-width: $max-sm + 1px) {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding-left: 120px;
  }
}

.quote {

  @media screen and (min-width: $max-sm + 1px) {
    display: flex;
    max-width: 95%;
    margin-left: auto;
  }
}

.info-block {
  max-width: 1000px;
  margin-top: 60px;
  align-items: center;
  position: relative;
  padding-left: 43px;

  @media screen and (min-width: $max-sm + 1px){
    margin-top: 155px;
    padding-left: 43px;
  }
}

.text--info-block {
  float:right;
  width: 370px;
  margin-right: 15px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;

  &:before{
    content: url("../img/sprites/sprite.svg#1");
    position: absolute;
    width: 200px;
    z-index: -1;
    top: -50px;
    right: 350px;
  }

  @media screen and (min-width: $max-md + 1px){
    margin-right: 100px;
  }
}
.paragraph{
  padding-bottom: 30px;
}