.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 80px 0;
  background: $white;
  outline: solid 1px #00009A;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 6;
  transition: opacity .35s ease;
  top: 50%;
  transform: translateY(-50%);

  &.modal-wide {
    width: 100%;
    padding: 40px 15px;

    @media screen and (min-width: $max-xs + 1px) {
      padding: 40px 40px;
    }
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (min-width: $max-sm + 1px){
    width: 570px;
    left: 50%;
    margin-left: -285px;
    padding: 80px 0;

    &.modal-wide {
      width: 964px;
      margin-left: -482px;
      padding: 80px 80px;
    }
  }

  @media screen and (max-width: $max-xs) {

  }
}

.modal--cookies {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background: #242424;
  width: 100%;
  height: fit-content;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  opacity: 0;
  pointer-events: none;
  z-index: 5;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }


  & .form__submit{
    width: 170px;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
  & .text{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 250px;
  }
  @media screen and (min-width: $max-sm){
    bottom: 0;
  }
  @media screen and (min-width: $max-md){
    flex-direction: row;
    bottom: 0;

    & .text{
      max-width: 500px;
    }
  }
}

.text--cookies{
  text-decoration: underline;
}

.modal--services {
  @media screen and (max-width: $max-xs) {
    top: 50%;
    transform: translateY(-50%);
  }
}


.modal-bg { 
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  z-index: 5;

  .is-modal-open & {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active,
  &:focus{
    outline: none;

  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.btn--go-back {
  width: 90%;
  margin-top: 60px;

  &:hover a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $white;
  }

  & a {
    z-index: 1;
    background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: $max-xs + 1px){
    width: 370px;
  }
}

.cookies {
  margin-top: 150px;

  & .text-bold {
    padding: 20px 0;
  }

  &-list {
    list-style-type: disc;
    margin-left: 30px;
  }
}