<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<section class="page404">
    <div class="page404-text">
    <h1 class="title-colours--big page404-title">404</h1>
    <p class="title--small--white">Sorry, we can’t find that page!</p>
    <p class="text--white text--white-404">Something went wrong or the page doesn’t exist anymore.</p>
    <a href="#" class="btn--main-page">Main page</a>
    </div>
</section>

//= includes/footer.html
//= includes/scripts.html
</body>
</html>
