<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner banner--top">
    <h1 class="title--banner">brief form</h1>
    <a id="anchor" class="arrow-down" href="#anchor"><img src="../img/sprites/sprite.svg#arrow-down" alt=" "></a>
</section>
<main class="container--narrow">
    <h2 class="title-colours">Let’s perform together!</h2>
<section class="form flex-container flex-container--space-between">
    <form class="form flex-container flex-container--space-between" action="">
        <div class="form-group">
            <label for="input-1" class="text-bold">*Name & Surname</label>
            <input required type="text" class="form__input" id="input-1">

            <label for="input-2" class="text-bold">*Email</label>
            <input required type="email" class="form__input" id="input-2">

            <label for="input-3" class="text-bold">*Phone</label>
            <input required type="text" class="form__input" id="input-3">
        </div>
        <div class="form-group">
            <label for="input-4" class="text-bold">Budget:</label>
            <input type="text" class="form__input" id="input-4">

            <label for="input-5" class="text-bold">Industry/ kind of activity:</label>
            <input type="text" class="form__input" id="input-5">

            <label for="input-6" class="text-bold">Campaign goal:</label>
            <input type="text" class="form__input" id="input-6">
        </div>
        <div class="card btn__submit-big">
            <button type="submit" class="form__submit-big"><span class="text-on-btn-big">Submit</span></button>
        </div>
    </form>
</section>
</main>
<section class="banner banner--down">
    <a href="contact-us.html#" class="title--banner-down">contact us</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>