<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner">
    <h1 class="title--banner">brief form</h1>
</section>
<main class="flex-container--results">
    <h2 class="title-colours">Let’s perform together!</h2>
<section class="form flex-container flex-container--results flex-container--space-between">
    <form class="title--forms">
        *Name & Surname<br>
        <input type="text" name="name" class="input-line"><br>
        *Email<br>
        <input type="text" name="email" class="input-line"><br>
        *Phone<br>
        <input type="text" name="phone" class="input-line"><br>
    </form>

    <form class="title--forms">
        Budget:<br>
        <input type="text" name="budget" class="input-line"><br>
        Industry/ kind of activity:<br>
        <input type="text" name="industry" class="input-line"><br>
        Campaign goal:<br>
        <input type="text" name="goal" class="input-line"><br>
    </form>
    <div class="card-outline card-outline-submit">
        <form class="card">
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</section>
</main>
<section class="banner-down">
    <a href="#" class="title--banner-down">contact us</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>