<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner">
    <h1 class="title--banner">careers</h1>
</section>
<main class="container flex-container--results">
<div class="careers-title container">
    <h2 class="title-colours title-colours-careers container">We are looking for open-minded people to join our family</h2>
    <h3 class="title--small title-small-careers container">If you are brave, eager, initiative and most importantly <span class="title-colours">RESULT-ORIENTED</span> it’s your chance to join us:</h3>
</div>
        <form class="form-group form-group-careers container" action="">

            <label for="input-1" class="form__label">*Name & Surname</label>
            <input required type="text" class="form__input" id="input-1">

            <label for="input-2" class="form__label">*Email/phone</label>
            <input required type="email" class="form__input" id="input-2">

            <label for="input-3" class="form__label">Why Sensters</label>
            <input type="text" class="form__input" id="input-3">

            <label for="input-4" class="form__label">Portfolio</label>
            <input type="text" class="form__input" id="input-4">

            <p  class="form__label form-label-file">CV</p>
            <label for="file-upload" class="attach-file">Attach file</label>
            <input type="file" id="file-upload">


            <input type="submit" value="Submit" class="submit-small">
        </form>


</main>
<section class="banner-down">
    <a href="services.html#" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>