<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner banner--top">
    <h1 class="title--banner">careers</h1>
</section>
<main class="container flex-container--results">
    <div class="careers-title container">
        <h2 class="title-colours title-colours-careers">We are looking for open-minded people to join our family</h2>
        <h3 class="title--small title-small-careers">If you are brave, eager, initiative and most importantly <span
                class="title-colours title-colours-normal">RESULT-ORIENTED</span> it’s your chance to join us:</h3>
    </div>
    <form class="form-group form-group-careers container js-form">

        <label for="input-1" class="text-bold">*Name & Surname</label>
        <input required name="name" type="text" class="form__input" id="input-1">

        <label for="input-2" class="text-bold">*Email/phone</label>
        <input required name="email/phone" type="email" class="form__input" id="input-2">

        <label for="input-3" class="text-bold">Why Sensters</label>
        <input type="text" name="why" class="form__input" id="input-3">

        <label for="input-4" class="text-bold">Portfolio</label>
        <input type="text" name="portfolio" class="form__input" id="input-4">

        <p class="text-bold">CV</p>
        <div>
            <input type="file" name="file" id="file" class="attach-file__input">
            <label for="file" name="file" class="attach-file">Attach file</label>

        </div>


        <input type="submit" value="Submit" class="form__submit">
    </form>


</main>
<section class="banner banner--down">
    <a href="services.html" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>