<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner banner--top">
    <h1 class="title--banner">clients</h1>
</section>
<main>
<div class="test">
    <div class="clients container flex-container ">
        <img class="clients-logo" src="../img/Zablotskogo.png" alt="">
        <img class="clients-logo" src="../img/Boucheron.png" alt="">
        <img class="clients-logo" src="../img/CoHoney.png" alt="">
        <img class="clients-logo" src="../img/GroGreen.png" alt="">
        <img class="clients-logo" src="../img/Viessmann.png" alt="">
        <img class="clients-logo" src="../img/Zaharenko.png" alt="">
        <img class="clients-logo" src="../img/DentalCareOffice.png" alt="">
        <img class="clients-logo" src="../img/AlfaStrategies.png" alt="">
        <img class="clients-logo" src="../img/PromtehService.png" alt="">
        <img class="clients-logo" src="../img/GetAtty.png" alt="">
        <img class="clients-logo" src="../img/ClubMed.png" alt="">
        <img class="clients-logo" src="../img/Aviatsia.png" alt="">
        <img class="clients-logo" src="../img/LedaAgro.png" alt="">
        <img class="clients-logo" src="../img/Agrinos.png" alt="">
        <img class="clients-logo" src="../img/Hild.png" alt="">
        <img class="clients-logo" src="../img/Hansavest.png" alt="">
        <img class="clients-logo" src="../img/Bijo.png" alt="">
        <img class="clients-logo" src="../img/Yuksel.png" alt="">
        <img class="clients-logo" src="../img/Diawest.png" alt="">
        <img class="clients-logo" src="../img/Watch4u.png" alt="">
    </div>
</div>


    <div class="reviews">
        <h3 class="title-white--medium title--review ">clients reviews</h3>

            <div class="reviews-list js-reviews-list">
                <div class="review-card container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Andriy</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>

                <div class="review-card container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Max</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Taras</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Petro</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Stepan</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
            </div>

            <div class="reviews-list-nav js-reviews-list-nav">
                <div class="review-card review-card-nav container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Andriy</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>

                <div class="review-card review-card-nav container">
                    <div class="review-client flex-container">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Max</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card review-card-nav container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Taras</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card review-card-nav container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Petro</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
                <div class="review-card review-card-nav container">
                    <div class="review-client">
                        <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
                        <div class="review-client-details">
                            <h4 class="review-client-name text-bold">Stepan</h4>
                            <p class="review-client-company">Leda Agro</p>
                        </div>
                    </div>
                    <p class="review-text">Very talented and eager team of professionals. Sensters developed a marketing
                        strategy for us and a marketing activity plan for a year. We discovered new possibilities for
                        our
                        business online by launching two websites for professional and mass market segments, developing
                        a
                        mobile application for loyal customers and engaging with our new consumers through SMM. What I
                        liked
                        the most about Sensters is that they love challenges and they think out of the box. They created
                        very brave, outstanding and exceptional for the industry product catalogue that brought
                        additional
                        sales to the business. If you want to be innovative and digitalised, Sensters is the right
                        choice!</p>
                </div>
            </div>
    </div>
</main>
<section class="banner banner--down">
    <a href="contact-us.html#" class="title--banner-down">contact us</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>