<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner">
    <h1 class="title--banner">clients</h1>
</section>
<main>

    <div class="clients container flex-container ">
        <img class="clients-logo" src="../img/Zablotskogo.png" alt="">
        <img class="clients-logo" src="../img/Boucheron.png" alt="">
        <img class="clients-logo" src="../img/CoHoney.png" alt="">
        <img class="clients-logo" src="../img/GroGreen.png" alt="">
        <img class="clients-logo" src="../img/Viessmann.png" alt="">
        <img class="clients-logo" src="../img/Zaharenko.png" alt="">
        <img class="clients-logo" src="../img/DentalCareOffice.png" alt="">
        <img class="clients-logo" src="../img/AlfaStrategies.png" alt="">
        <img class="clients-logo" src="../img/PromtehService.png" alt="">
        <img class="clients-logo" src="../img/GetAtty.png" alt="">
        <img class="clients-logo" src="../img/ClubMed.png" alt="">
        <img class="clients-logo" src="../img/Aviatsia.png" alt="">
        <img class="clients-logo" src="../img/LedaAgro.png" alt="">
        <img class="clients-logo" src="../img/Agrinos.png" alt="">
        <img class="clients-logo" src="../img/Hild.png" alt="">
        <img class="clients-logo" src="../img/Hansavest.png" alt="">
        <img class="clients-logo" src="../img/Bijo.png" alt="">
        <img class="clients-logo" src="../img/Yuksel.png" alt="">
        <img class="clients-logo" src="../img/Diawest.png" alt="">
        <img class="clients-logo" src="../img/Watch4u.png" alt="">
    </div>

    <div class="reviews">
        <h3 class="title-white--big title--review ">clients reviews</h3>
        <div class="review-card container">
            <div class="review-client">
            <img src="../img/review-client-photo.png" alt=" " class="review-client-photo">
            <div class="review-client-details">
                <h4 class="review-client-name">Andriy</h4>
            <p class="review-client-company">Leda Agro</p>
            </div>
            </div>
            <p class="review-text"></p>
        </div>
    </div>
</main>
<section class="banner-down">
    <a href="contact-us.html#" class="title--banner-down">contact us</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>