<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner banner--top">
    <h1 class="title--banner title--banner-down container">Digital Performance consultation</h1>
    <a id="anchor" class="arrow-down" href="#anchor"><img src="../img/sprites/sprite.svg#arrow-down" alt=" "></a>
</section>
<main>

    <div class="service-description">
        <div class="container container--narrow">
            <h3 class="title--small--white">Digital Performance consultation</h3>
            <p class="text--white text-service-description">Get reasonable recommendations to increase your digital
                performance - $100</p>
            <p class="text--white text-service-description">Do not waste your time on a time-consuming and expensive
                strategy. We develop instant and effective solutions for your business to grow now.</p>
        </div>
    </div>

    <div class="container">
        <a href="#" class="card btn__submit-big flex-container js-modal-call" data-modal="order">
            <span class="title--small text-on-btn">Sounds exciting?</span>
            <span class="text-on-btn-big">Do it now!</span>
        </a>
        <div class="container--narrow">
            <p class="what-you-get title-colours--big">What you get:</p>
        </div>
        <div class="flex-container container--narrow">
            <div class="col-1">
                <ul>
                    <li class="text">One hour Q&A session with digital experts</li>
                    <li class="text">List of practical recommendations ready for implementation </li>
                    <li class="text">Media plan and budget</li>
                </ul>
            </div>
        </div>
    </div>


</main>
<section class="banner banner--down">
    <a href="services.html#" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>