<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner banner--top">
    <h1 class="title--banner title--banner-down container">E-commerce marketing</h1>
</section>
<main>

    <div class="service-description">
        <div class="container container--narrow">
            <h3 class="title--small--white">E-commerce marketing</h3>
            <p class="text--white text-service-description">Maximize your sales with complex promotion - start from $1000</p>
            <p class="text--white text-service-description">Profitable business - successful business.</p>
            <p class="text--white text-service-description">E-commerce allows you to close the marketing funnel in few minutes from product introduction to direct purchase.</p>
        </div>
    </div>

    <div class="container">
        <a href="#" class="card btn__submit-big flex-container js-modal-call" data-modal="order">
            <span class="title--small text-on-btn">Impressive?</span>
            <span class="text-on-btn-big">Then start now!</span>
        </a>
        <div class="container--narrow">
            <p class="what-you-get title-colours--big">What you get:</p>
        </div>
        <div class="flex-container container--narrow">

            <div class="col-2">
                <p class="title--small">Promotion:</p>
                <ul>
                    <li class="text">Collection and analysis of semantics, grouping keywords</li>
                    <li class="text">Collection and refinement of negative keywords, cross-minus</li>
                    <li class="text">Selection of tools for the most effective conversion increase</li>
                    <li class="text">Media plan development</li>
                    <li class="text">Recommendations on the website UX design</li>
                    <li class="text">Writing ads and extensions, working with rejected ads</li>
                    <li class="text">Budget and bid controls</li>
                    <li class="text">Regular analysis of key requests, bids, ads positions, percentage of impressions received and other indicators of the campaign</li>
                    <li class="text">Analysis of sales, conversions, user behavior after making the transition to the website</li>
                    <li class="text">Creation of additional ads and update the old ones</li>
                    <li class="text">Extension of semantics, work with narrow queries</li>
                    <li class="text">Start remarketing</li>
                    <li class="text">Launch of price aggregators</li>
                    <li class="text">Shopping campaign setup and dynamic remarketing</li>
                    <li class="text">Recommendations development for feed creation</li>
                    <li class="text">Setup ecommerce in analytics</li>
                    <li class="text">Scripts configuration to automate tasks</li>
                    <li class="text">Management and control over ads accounts</li>
                    <li class="text">Control over media spendings and replenishment</li>
                    <li class="text">Selection of new tools, hypothesis testing, constant search for effective channels to increase conversions</li>
                    <li class="text">Regular reporting and feedback of campaign performance</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="title--small">Strategy & Planning:</p>
                <ul>
                    <li class="text">Website UX audit</li>
                    <li class="text">Website optimization</li>
                    <li class="text">Media plan</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<section class="banner banner--down">
    <a href="services.html#" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>