<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html

<section class="banner">
    <h1 class="title--banner title--banner-down container">Integrated UX/UI audit and website optimization </h1>
</section>
<main>

    <div class="service-description">
        <div class="container container--narrow">
            <h3 class="title--small--white">Integrated UX/UI audit and website optimization </h3>
            <p class="text--white text-service-description">Simplify consumer journey for higher conversions - start
                from $500</p>
            <p class="text--white text-service-description">User experience design isn’t about building a pretty
                website. It’s an integrated data based approach that allows us to provide users what they want at the
                right time and in the right place. We equally focus on business needs and user needs. To meet both sets
                of needs we use “consumer-centric” design methodology.</p>
            <p class="text--white text-service-description">In addition, our UI specialists make sure your website looks
                aesthetic
                and is in line with the latest trends in web design.</p>
            <p class="text--white text-service-description">Eventually, we prepare an optimization plan for your website
                to simplify consumer journey and get you higher profits.</p>
        </div>
    </div>

    <div class="container">
        <a href="#" class="card btn__submit-big flex-container js-modal-call" data-modal="order">
            <span class="title--small text-on-btn">Sounds exciting?</span>
            <span class="text-on-btn-big">Do it now!</span>
        </a>
        <div class="container--narrow">
            <p class="what-you-get title-colours--big">What you get:</p>
        </div>
        <div class="flex-container container--narrow">
            <div class="col-1">
                <p class="title--small">Analysis:</p>
                <ul>
                    <li class="text">Website goals establishment</li>
                    <li class="text">TA definition</li>
                    <li class="text">Brand definition</li>
                    <li class="text">Measurement definition</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="title--small">Strategy & planning:</p>
                <ul>
                    <li class="text">Information architecture</li>
                    <li class="text">User experience</li>
                    <li class="text">Content strategy</li>
                    <li class="text">Action plan</li>
                </ul>
            </div>
        </div>
    </div>


</main>
<section class="banner-down">
    <a href="services.html#" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>