<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<section class="banner banner--top">
    <h1 class="title--banner">services</h1>
</section>
<main>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Digital Performance consultation</h2>
            <p class="text">Get reasonable recommendations to increase your digital performance</p>
            <p class="text card-service__details"><span class="text-bold">Details</span></p>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title title--small title--small--black">$100</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">E-commerce marketing</h2>
            <div class="text">
                <p>Maximize your sales with complex promotion</p>
            </div>
            <p class="text card-service__details"><span class="text-bold">Details</span></p>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title title--small title--small--black" >Start from $1000</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Integrated UX/UI audit and website optimization</h2>
            <div class="text">
                <p>Simplify consumer journey for higher conversions</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $500</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Media campaigns:</h2>
            <div class="text">
                <p>Achieve maximum results to boost your business growth</p>
            </div>
            <ul class="text text-list">
            <li>Search campaigns</li>
            <li> Display campaigns</li>
            <li>Shopping campaigns</li>
            <li>Video campaigns</li>
            <li> Brand awareness campaigns</li>
            <li> Traffic campaigns</li>
            <li>Conversion campaigns </li>
            </ul>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $500</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Mobile App Promotion</h2>
            <div class="text">
                <p>Get more installs, higher in-app conversions and the target return on ad spend</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $500</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">E-mail Marketing </h2>
            <div class="text">
                <p>Reach your audience on a relatively low costs to get more revenues</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $100</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Marketing strategy </h2>
            <div class="text">
                <p>Identify your objectives and develop an efficient marketing solution</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $1000</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Branding</h2>
            <div class="text">
                <p>Create your brand identity to fire up</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $500</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Website development</h2>
            <div class="text">
                <p>Open up to new business growth opportunities online</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $2000</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
    <div class="container flex-container flex-container--space-between card">
        <a href="integratedUX.html" class="card-service">
            <h2 class="title js-title title--small">Mobile App development</h2>
            <div class="text">
                <p>Increase your sales growth by becoming a part of consumers daily life</p>
            </div>
        </a>
        <a href="#" class="card-price js-modal-call js-fill-input" data-modal="order">
            <h2 class="title js-title title--small title--small--black">Start from $5000</h2>
            <p class="text text-order"><span class="text-bold">Order </span>now</p>
        </a>
    </div>
</main>
<section class="banner banner--down">
    <a href="clients.html" class="title--banner-down">clients</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>
