<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<section class="banner">
    <h1 class="title--banner">services</h1>
</section>
<main class="flex-container--results-wide">

    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">E-commerce marketing</h2>
                <p class="text">Complex promotion to maximize your sales - fix price</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Integrated UX/UI audit and website optimization </h2>
                <p class="text">Simplifying consumer journey for higher conversions</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Media campaigns:</h2>
                <ul class="text text-list">
                    <li>Search campaigns</li>
                    <li> Display campaigns</li>
                    <li>Shopping campaigns</li>
                    <li>Video campaigns</li>
                    <li> Brand awareness campaigns</li>
                    <li> Traffic campaigns</li>
                    <li>Conversion campaigns</li>
                </ul>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Mobile App Promotion</h2>
                <p class="text">Get more installs, higher in-app conversions and the target return on ad spend</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">E-mail Marketing </h2>
                <p class="text">Reach your audience on a relatively low costs to get more revenues</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Marketing strategy </h2>
                <p class="text">Identify your objectives and develop an efficient marketing solution</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Branding</h2>
                <p class="text">Create your brand identity to fire up</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Fix price</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
    <a href="#" class="flex-container card-outline">
        <div class="flex-container flex-container--space-between card ">
            <div class="card-service">
                <h2 class="title title--small">Website and Mobile App development </h2>
                <p class="text">Open up to new business growth opportunities online</p>
            </div>
            <div class="card-price">
                <h2 class="title title--small title--small--white">Start from</h2>
                <p class="text text--invisible"><span class="text-bold">Order </span>now</p>
            </div>
        </div>
    </a>
</main>
<section class="banner-down">
    <a href="#" class="title--banner-down">clients</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>
