<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<section class="page404">
    <div class="container--narrow">
    <h1 class="title-white--big">Thank you!</h1>
    <p class="title--small--white"> We will get in touch with you</p>
        <div class="btn--main-page">
    <a href="/" class="btn--main-page-text">Main page</a>
        </div>
    </div>
</section>

//= includes/footer.html
//= includes/scripts.html
</body>
</html>
