.header {
  position: fixed;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: $black;
  z-index: 4;
  padding: 40px 15px 40px 15px;
  font-size: 0;

  @media screen and (min-width: $max-md + 1px) {
    padding: 40px 135px 40px 100px;
    display: flex;
    font-size: 16px;
  }
}

.header__link {
  color: $white;
  font-weight: bold;
  padding: 0 35px 0 0;
  background: $white;
  border: none;
  cursor: pointer;
  transition: background .5s ease;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  &:hover {
    background: linear-gradient(150deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
  }

  &:focus {
    outline: none;
  }
}

.header__link--insta {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/sprites/sprite.svg#insta-icon-2-h) no-repeat center;
  background-size: cover !important;
  padding: 0;
  vertical-align: middle;
  margin-right: 30px;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
  filter: sepia(1) brightness(200);

  &:hover {
    background: url(../img/sprites/sprite.svg#insta-icon-2-h) no-repeat center;
    filter: brightness(1);
  }
}

.header__link--fb {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/sprites/sprite.svg#fb-icon-2-h) no-repeat center;
  filter: sepia(1) brightness(200);
  background-size: cover !important;
  padding: 0;
  vertical-align: middle;
  margin-right: 30px;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;

  &:hover {
    background: url(../img/sprites/sprite.svg#fb-icon-2-h) no-repeat center;
    filter: brightness(1);
  }
}

.header__wrapper {
  margin-left: auto;

  @media screen and (max-width: $max-md) {
    display: none;
  }
}