.header {
  position: fixed;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: $black;
  z-index: 4;
  padding: 40px 15px 40px 15px;
  font-size: 0;

  @media screen and (min-width: $max-md + 1px) {
    padding: 40px 135px 40px 100px;
    display: flex;
    font-size: 16px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  background: $black;
  z-index: 3;
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity .35s ease;

  body.is-menu-open & {
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (min-width: $max-sm + 1px) {
    padding-bottom: 0;
    justify-content: center;
  }

  @media screen and (min-width: $max-md + 1px) {
    line-height: 1.3;
    font-size: 42px;
  }

  @media screen and (min-width: $max-lg + 1px) {
    font-size: 48px;
  }
}

.lang {
  display: flex;
  flex-direction: row;
  width: 114px;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 40px;
  & a {
    color: #828282;
  }

  & .is-active{
    color: $white;
  }
}

.info-block-section-navigation a{
  color: blue;
  &.active{
    color: #EB3423;
  }
}
.menu-item {
  color: $white;
  padding-bottom: 30px;

  @media screen and (max-width: 360px) {
    padding-bottom: 10px;
  }

  @media screen and (min-width: $max-md + 1px) and (max-height: 780px) {
    padding-bottom: 15px;
  }

  &:hover {
    background: linear-gradient(150deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: $black;
    transition: 0.5s;
  }
}

.hot-btn {
  color: $white;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;


  &:first-child {
    padding-left: 0;
    padding-right: 25px;
  }

  @media screen and (min-width: $max-md + 1px) {
    display: none;
  }
}

.contacts-list-in-menu {
  display: none;

  @media screen and (min-width: $max-md + 1px) and (max-height: 680px) {
    padding-top: 10px !important;
  }

  @media screen and (min-width: $max-md + 1px) {
    display: flex;
    width: 100%;
    padding-top: 60px;
    justify-content: space-around;


    & .list-item-in-menu {
      padding-left: 50px;
      position: relative;

      & a {
        color: $white;
        font-size: 16px;
        font-weight: normal;
      }


    }
    & .list-item-in-menu:hover > a:before{
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    & .list-item-in-menu:hover > a:after{
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    & .list-item-in-menu a:before {
      position: absolute;
      width: 26px;
      left: 0;
      bottom: 3px;
    }

    & .list-item-in-menu a:after {
      position: absolute;
      width: 26px;
      left: 0;
      bottom: 3px;
    }


    & .phone:before {
      content: url("../img/sprites/sprite.svg#phone-icon-color");
      opacity: 1;
    }
    & .phone:after {
      content: url("../img/sprites/sprite.svg#phone-icon-color-h");
      opacity: 0;
    }

    & .mail:before {
      content: url("../img/sprites/sprite.svg#mail-icon-color");
      opacity: 1;
    }

    & .mail:after {
      content: url("../img/sprites/sprite.svg#mail-icon-color-h");
      opacity: 0;
    }

    & .fb:before {
      content: url("../img/sprites/sprite.svg#fb-icon-color");
      opacity: 1;
    }

    & .fb:after {
      content: url("../img/sprites/sprite.svg#fb-icon-color-h");
      opacity: 0;
    }

    & .insta:before {
      content: url("../img/sprites/sprite.svg#insta-icon-color");
      opacity: 1;
    }

    & .insta:after {
      content: url("../img/sprites/sprite.svg#insta-icon-color-h");
      opacity: 0;
    }
  }
}

.header__link {
  color: $white;
  font-weight: bold;
  padding: 0 35px 0 0;
  background: $white;
  border: none;
  cursor: pointer;
  transition: background .5s ease;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  &:hover{
    background: linear-gradient(150deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
  }

  &:focus {
    outline: none;
  }
}

.header__link--insta {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/sprites/sprite.svg#insta-icon-2-h) no-repeat center;
  background-size: cover !important;
  padding: 0;
  vertical-align: middle;
  margin-right: 30px;
  // transition: filter .35s ease;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
  filter: sepia(1) brightness(200);

  &:hover {
    background: url(../img/sprites/sprite.svg#insta-icon-2-h) no-repeat center;
    filter: brightness(1);
  }
}

.header__link--fb {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/sprites/sprite.svg#fb-icon-2-h) no-repeat center;
  filter: sepia(1) brightness(200);
  background-size: cover !important;
  padding: 0;
  vertical-align: middle;
  margin-right: 30px;
  // transition: filter .35s ease;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;

  &:hover {
    background: url(../img/sprites/sprite.svg#fb-icon-2-h) no-repeat center;
    filter: brightness(1);
  }
}


.header__wrapper {
  margin-left: auto;
  @media screen and (max-width: $max-md) {
    display: none;

  }
}