<div class="js-modal-close modal-bg"></div>
    <div id="call-me" class="modal">
        <button type="button" class="js-modal-close modal-close"></button>
        <p class="title-colours--medium">Call me</p>
        <form class="form-group-send js-form">
            <label for="input-1" class="text-small text-bold">*Name</label>
            <input required type="text" class="form__input" id="input-1">

            <label for="input-2" class="text-small text-bold">*Phone</label>
            <input required type="tel" class="form__input" id="input-2">

            <div class="card btn__send js-modal-call">
                <button type="submit" class="form__send">Order now</button>
            </div>
        </form>
    </div>

<div id="order" class="modal modal-wide modal--services">
    <button type="button" class="js-modal-close modal-close"></button>
    <p class="title-colours--medium title-modal-mobile text-center js-filled-title">Integrated UX/UI audit and website optimization </p>
    <form class="form-group-send js-form">
        <label for="input-3" class="text-small text-bold">*Name & Surname</label>
        <input required type="text" class="form__input" id="input-3">

        <label for="input-4" class="text-small text-bold">*Phone</label>
        <input required type="tel" class="form__input" id="input-4">

        <label for="input-5" class="text-small text-bold">*Email</label>
        <input required type="email" class="form__input" id="input-5">

        <input required type="text" hidden class="js-filled-input" id="input-6">

        <div class="card btn__send">
            <button type="submit" class="form__send">Order now</button>
        </div>
    </form>
</div>

<div id="thank-you" class="modal">
    <button type="button" class="js-modal-close modal-close"></button>
    <p class="title-colours--medium">Thank you!</p>
    <p class="text text-bold">We will get in touch with you</p>

        <div class="card btn__send btn--go-back js-modal-close">
            <a href="/" class="go-back text-bold">Go back</a>
        </div>
</div>
<div id="cookies" class="js-cookies modal--cookies">
    <p class="text text--white">We use cookies. You may find &nbsp<a href="cookies.html" target="_blank" class="text text--white text-bold text--cookies">more information here</a>.</p>
    <button class="form__submit js-cookies-close">I understand</button>
</div>


