<header class="">
    <div class="header flex-container flex-container--space-between">
        <a href="/" class="logo"></a>
        <div class="hot-buttons">
            <button class="burger js-modal-call" data-modal="call-me">Call me</button>
            <a class="burger" href="brief-form.html#">Brief form</a>
            <button class="burger js-burger">Menu
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </div>
    <div class="menu">
        <a href="index.html" class="menu-item">about</a>
        <a href="services.html" class="menu-item">services</a>
        <a href="clients.html" class="menu-item">clients</a>
        <a href="contact-us.html" class="menu-item">contact us</a>
        <a href="careers.html" class="menu-item">careers</a>
    </div>

    <div class="header-mobile flex-container flex-container--space-between">
        <a href="/" class="logo"></a>
        <div class="hot-buttons">
            <button class="burger burger-mobile js-burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </div>
    <div class="menu">
        <a href="index.html" class="menu-item">about</a>
        <a href="services.html" class="menu-item">services</a>
        <a href="clients.html" class="menu-item">clients</a>
        <a href="contact-us.html" class="menu-item">contact us</a>
        <a href="careers.html" class="menu-item">careers</a>
    </div>


</header>

