<header class="">
    <div class="header flex-container flex-container--space-between">
        <a href="/" class="logo"></a>
        <div class="hot-buttons">
            <button class="burger js-modal-call" data-modal="call-me">Call me</button>
            <a class="burger" href="brief-form.html">Brief form</a>
            <button class="burger js-burger">Menu
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
            <button class="burger-mobile js-burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>

    </div>
    <div class="menu">
        <a href="index.html" class="menu-item">about</a>
        <a href="services.html" class="menu-item">services</a>
        <a href="clients.html" class="menu-item">clients</a>
        <a href="contact-us.html" class="menu-item">contact us</a>
        <a href="careers.html" class="menu-item">careers</a>
        <div class="hot-buttons hot-buttons-mobile">
            <button class="hot-btn js-modal-call" data-modal="call-me">Call me</button>
            <a class="hot-btn" href="brief-form.html#">Brief form</a>
        </div>
        <div class="social-icons-mobile">
            <a href="https://www.facebook.com/Sensters-103775587694866/" class="fb-icon icon-mob" target="_blank"><img
                    src="../img/fb.png" alt="fb"></a>
            <a href="/" class="insta-icon icon-mob" target="_blank"><img src="../img/insta.png" alt="insta"></a>
            <a href="mailto: newbiz@sensters.com" class="mail-icon icon-mob"><img src="../img/mail.png" alt="mail"></a>
        </div>
    </div>

</header>

