<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<main>
    <section class="banner banner--main">
        <h1 class="banner--main-title">
            <span class="title--banner-main">PERFORMANCE</span>
            <span class="title--banner-main">DIGITAL</span>
            <span class="title--banner-main">MARKETING</span>
        </h1>
        <!--        <div class="social-icons">-->
        <!--            <a href="https://www.facebook.com/Sensters-103775587694866/" class="fb-icon" target="_blank"><img-->
        <!--                    src="../img/sprites/sprite.svg#fb-icon" alt="insta" width="16"></a>-->
        <!--            <a href="/" class="insta-icon" target="_blank"><img src="../img/sprites/sprite.svg#insta-icon" alt="fb"-->
        <!--                                                                width="16"></a>-->
        <!--        </div>-->
    </section>
    <div class="quote">
        <h3 class="title-colours--big-vertical title-vertical">who we are</h3>
        <div class="quote-text"><p class="paragraph">Result oriented marketing experts.</p>
            <p class="paragraph"> We develop effective marketing solutions.</p>
            <p class="paragraph">We make sense.</p>
        </div>
    </div>
    <section class="info-block-section">
        <h3 class="title-colours--big title-info-block">why us</h3>
        <div class="flex-container info-block js-info-block">

            <div class="container info-block--inside">
                <div class="text text--info-block text--info-block--first">
                    <h3 class="title--small">Result-oriented</h3>
                    <p class="paragraph">At all stages of the work we show a specific quantitative indicator that
                        reflects the result of each individual channel and tool (cost per site visitor, request, call,
                        order, lead customer, purchase).</p>
                    <p class="paragraph">We are data driven and ROMI oriented (return on marketing investment). Our
                        clients get sales increase from marketing investment, not just the number of clicks or CTR.</p>

                </div>
                <div class="text text--info-block text--info-block--second">
                    <h3 class="title--small">Effective</h3>
                    <p class="paragraph">We get acquainted with your business processes and choose the most effective
                        digital channels to boost your results.</p>
                    <p class="paragraph">We identify the main business goals and provide the tools to achieve them.</p>
                </div>
                <div class="text text--info-block text--info-block--third">
                    <h3 class="title--small">Transparent</h3>
                    <p class="paragraph">Reasonable pricing model based on the number of hours spent by the team.</p>
                    <p class="paragraph">No hidden or extra fees. All media spendings are paid directly from you to the
                        advertisers without extra expenses.</p>
                    <p class="paragraph">Clear media costs distribution. You get access to the advertising accounts
                        where you can see where and how your money were spent.</p>
                </div>
            </div>
        </div>
    </section>


</main>
<section class="banner banner--down">
    <a href="services.html#" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>
