<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sensters</title>
    //= includes/head.html
</head>
<body>
//= includes/header.html
<main>

    <section class="banner banner--main">
        <h1 class="banner--main-title">
            <span title="PERFORMANCE" class="title--banner-main">PERFORMANCE</span>
            <span title="DIGITAL" class="title--banner-main">DIGITAL</span>
            <span title="MARKETING" class="title--banner-main">MARKETING</span>
        </h1>
    </section>
    <div class="quote">
        <h3 class="title-colours--big-vertical title-vertical">who we are</h3>
        <div class="quote-text">
            <p>Result oriented marketing experts.</p>
            <p> We develop effective marketing solutions.</p>
            <p>We make sense.</p>
        </div>
    </div>

    <section class="info-block-section">
        <h3 class="title-colours--big title-info-block">why us</h3>
        <div class="info-block-scroll">
            <a href="#first" id="begin" class="info-block-scroll--number js-info-block-number">01</a>
            <a href="#second" class="info-block-scroll--number js-info-block-number transparent">02</a>
            <a href="#third"  id="end" class="info-block-scroll--number js-info-block-number">03</a>
        </div>
        <div class="flex-container info-block js-info-block">

            <div class="container info-block--inside">
                <div class="text text--info-block text--info-block--first js-text-infoblock" id="first">
                    <h3 class="title--small">Result-oriented</h3>
                    <p>At all stages of the work we show a specific quantitative indicator that
                        reflects the result of each individual channel and tool (cost per site visitor, request, call,
                        order, lead customer, purchase).</p>
                    <p>We are data driven and ROMI oriented (return on marketing investment). Our
                        clients get sales increase from marketing investment, not just the number of clicks or CTR.</p>

                </div>
                <div class="text text--info-block text--info-block--second js-text-infoblock" id="second">
                    <h3 class="title--small">Effective</h3>
                    <p>We get acquainted with your business processes and choose the most effective
                        digital channels to boost your results.</p>
                    <p>We identify the main business goals and provide the tools to achieve them.</p>
                </div>
                <div class="text text--info-block text--info-block--third js-text-infoblock" id="third">
                    <h3 class="title--small">Transparent</h3>
                    <p>Reasonable pricing model based on the number of hours spent by the team.</p>
                    <p>No hidden or extra fees. All media spendings are paid directly from you to the
                        advertisers without extra expenses.</p>
                    <p>Clear media costs distribution. You get access to the advertising accounts
                        where you can see where and how your money were spent.</p>
                </div>
            </div>
        </div>

    </section>


</main>
<section class="banner banner--down">
    <a href="services.html" class="title--banner-down">services</a>
</section>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>
