.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-container--space-between {
  justify-content: space-between;
}

.container--narrow {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
