@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/Pragmatica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/Pragmatica-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}