$title-animation-time-1: 5s cubic-bezier(.35, -0.31, 0, 1.7);
$title-animation-time-2: 5s ease-in-out;

.title--small {
  font-weight: bold;
  color: $black;
  font-size: 18px;
  line-height: 1.3;
  padding-bottom: 20px;

  @media screen and (min-width: $max-sm + 1px) {
    font-size: 24px;
  }
}

.title--small--black {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 0;

  @media screen and (min-width: $max-sm + 1px) {
    padding-bottom: 20px;
  }

}

.title--small--white {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  padding-bottom: 20px;
}

.title--forms {
  font-weight: bold;
  color: $black;
  font-size: 16px;
  line-height: 28px;
  padding: 20px 0 90px 0;
}

.title--banner-main {
  position: relative;
  display: block;
  font-family: Futura;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 36px;
  color: $white;
  transition: 0.5s;

  &:before {
    content: attr(title);
    position: absolute;
    background: linear-gradient(150deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150%;
    z-index: 2;
    opacity: 0;
  }

  @media screen and (min-width: $max-sm + 1px) {
    font-size: 60px;
  }

  @media screen and (min-width: $max-md + 1px) {
    font-size: 80px;
  }


  @media screen and (min-width: $max-lg + 1px) {
    font-size: 100px;
  }

  &:first-of-type {
    text-align: start;
    animation: to-right $title-animation-time-1;

    &:before {
      animation: right-color-change $title-animation-time-2;
    }
  }

  &:nth-of-type(2n) {
    text-align: center;
    margin-left: -30px;
    animation: to-left $title-animation-time-1;

    &:before {
      animation: left-color-change $title-animation-time-2;
    }
  }

  &:last-of-type {
    text-align: end;
    animation: to-right $title-animation-time-1;

    &:before {
      animation: right-color-change $title-animation-time-2;
    }
  }

  &:hover {
    background: linear-gradient(150deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: $black;
    cursor: default;
  }

  @keyframes to-right {
    0% {
      transform: translateX(-100%);
    }
    20% {
      transform: translateX(0);
      color: $white;
    }
    30% {
      color: transparent;
    }
    90% {
      color: transparent;
    }
    100% {
      transform: translateX(0%);
      color: $white;
    }
  }

  @keyframes to-left {
    0% {
      transform: translateX(100%);
      color: transparent;
    }
    20% {
      transform: translateX(0);
      color: $white;
    }
    30% {
      color: transparent;
    }
    90% {
      color: transparent;
    }
    100% {
      transform: translateX(0%);
      color: $white;
    }
  }

  @keyframes left-color-change {
    0% {
      background-position: center;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    50% {
      background-size: 150% !important;
      background-position: left;
    }
    90% {
      opacity: 1;
    }
    100% {
      background-size: 100% !important;
      opacity: 0;
      background-position: right;
    }
  }

  @keyframes right-color-change {
    0% {
      background-position: center;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    50% {
      background-position: right;
    }
    90% {
      opacity: 1;
    }
    100% {
      background-position: left;
      opacity: 0;
    }
  }
}

.title--banner {
  font-family: Futura;
  font-size: 64px;
  line-height: 1.4;
  font-weight: bold;
  color: $white;
  text-align: center;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 100px;
  }
}

.title--banner-down {
  font-family: Futura;
  font-size: 64px;
  line-height: 1.4;
  font-weight: bold;
  color: $white;
  text-align: center;

  &:hover {
    background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: $black;
    transition: 0.5s;
  }

  @media screen and (min-width: $max-md + 1px) {
    font-size: 100px;

    &:hover {
      -webkit-text-stroke: 4px transparent;
    }
  }
}

.title--banner.title--banner-down {
  cursor: default;
}

.title-colours {
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-colours--small {
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.title-colours--medium {
  font-size: 40px;
  line-height: 1.3333;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;

  @media screen and (mix-width: $max-xs) {
    font-size: 48px;
    margin-bottom: 15px;
  }
}

.title-colours--big-vertical {
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  padding-left: 43px;
  background: linear-gradient(29.72deg, #00009A 14.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 72px;
    background: linear-gradient(29.72deg, #EB3423 10.49%, #EB3626 45.87%, #00009A 70.43%);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title-colours-narrow {
  width: 100%;
  @media screen and (min-width: $max-md + 1px) {
    width: 70%;
  }
}

.title-colours-normal {
  font-weight: normal;
  font-size: 18px;
  @media screen and (min-width: $max-sm + 1px) {
    font-weight: bold;
    font-size: 24px;
  }
}

.title-white--big {
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  color: $white;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 72px;
  }
  @media screen and (min-width: $max-lg + 1px) {
    font-size: 100px;
  }
}

.title-white--medium {
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  color: $white;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 72px;
  }
}

.title-modal-mobile {
  font-size: 24px;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 40px;
  }
}

.title-colours--big {
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  background: linear-gradient(29.72deg, #00009A 22.49%, #EB3626 66.87%, #EB3423 80.43%);
  width: fit-content;
  height: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (min-width: $max-md + 1px) {
    font-size: 72px;
  }
}

.text {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: $black;
}

.text--white {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: $white;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 16px;
}

.text-center {
  text-align: center;
}


